@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,600&family=Montserrat:wght@500&display=swap");

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --fs-serif: "Fraunces", serif;
  --fs-sans: "Montserrat", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--Cream);
  font-family: var(--fs-serif);
}

.container {
  max-width: 48rem;
  padding-inline: 2.5rem;
  margin-inline: auto;
}

picture,
img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* Mobile first */

.card {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-picture {
  width: 100%;
}

.card-image {
  border-radius: 1rem 1rem 0 0;
  height: 100%;
}

.card-content {
  padding: 1.5rem 1.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 1em;
  text-align: start;
}

.card-content span {
  letter-spacing: 2px;
  text-transform: uppercase;
  text-rendering: inherit;
  font-weight: 300;
  font-family: var(--fs-sans);
  color: hsl(228, 12%, 48%);
}

.card-content h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  font-family: var(--fs-serif);
}

.card-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: hsl(228, 12%, 48%);
  font-family: var(--fs-sans);
}

.card-content ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: "Fraunces", serif;
}

.card-content ul li:first-child {
  color: var(--Dark-cyan);
  font-size: 2.3rem;
  font-weight: 700;
}

.card-content ul li:last-child {
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

button[type="button"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  font-size: 1rem;
  background-color: var(--Dark-cyan);
  color: hsl(0, 0%, 100%);
  outline: none;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.5s ease-in-out;
}

button[type="button"]:hover,
button[type="button"]:focus {
  background-color: hsla(158, 36%, 37%, 0.8);
  transform: scaleX(1.01);
}

@media (min-width: 45rem) {
  .card {
    flex-direction: row;
  }
  .card-image {
    border-radius: 1rem 0 0 1rem;
  }
}

.attribution {
  font-size: 0.75rem;
  padding: 1em 0;
  color: hsl(212, 21%, 14%);
}

.attribution a {
  color: hsl(158, 36%, 37%);
}
